apiVersion: v1  # API 버전 (Service를 정의할 때 사용하는 Kubernetes API 그룹)
kind: Service  # 리소스 종류 (Service 객체 생성)
metadata:
  name: orchestrator-service  # Service의 이름
spec:
  type: LoadBalancer  # 외부에서도 접근할 수 있도록 Load Balancer 생성
  selector:
    app: orchestrator-app  # 레이블이 fastapi-app인 Pod과 연결
  ports:
  - protocol: TCP  # 네트워크 프로토콜 (TCP 사용)
    port: 8080  # 외부에서 접근할 수 있는 포트 (retriever = 80, orchestrator = 8080)
    targetPort: 8000  # 내부 컨테이너에서 사용하는 포트 (FastAPI가 실행 중인 포트)